{% extends 'base.html' %}
{% load static %}
{% load currency %}
{% block meta %}
{% endblock %}
{% block title %}
    EVC | Checkout
{% endblock %}
{% block include_css %}
    <link rel="stylesheet" href="{% static 'cart/css/checkout.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id="loader">
        <img id="loader-image" src="{% static 'epc/img/evc-logo.png' %}" alt="Loading..." height="32px"/>
    </div>
    <header>
        {% include 'epc/modules/navbar.html' %}
    </header>

    <div class="container h-auto">
        <main>
            <div class="login-container">
                <form method="POST" name="restore_password_form">

                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">E-Mail</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <small id="email-help" class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>

                    <input type="submit" name="checkout" value="Checkout">

                </form>

            </div>
        </main>
    </div>
    <footer class="text-center text-white" style="">
        <div class="container_main">
            <section class="mt-1">
                <div class="row text-center d-flex justify-content-center">
                    <div class="col-md-2 col-3">
                        <h6 class="">
                            <a href="https://evc.group/team/" class="text-white" target="_blank">О нас</a>
                        </h6>
                    </div>
                    <div class="col-md-2 col-3 d-none d-md-block">
                        <h6 class="">
                            <a href="https://evc.group/service/" class="text-white" target="_blank">Сервис</a>
                        </h6>
                    </div>
                    <div class="col-md-2 col-3">
                        <h6 class="">
                            <a href="https://evc.group/shop/" class="text-white" target="_blank">Магазин</a>
                        </h6>
                    </div>
                    <div class="col-md-2 col-3">
                        <h6 class="">
                            <a href="https://evc.group/cars/" class="text-white" target="_blank">Автомобили</a>
                        </h6>
                    </div>
                    <div class="col-md-2 col-3">
                        <h6 class="">
                            <a href="https://evc.group/contacts/" class="text-white" target="_blank">Контакты</a>
                        </h6>
                    </div>
                </div>
            </section>
            <hr class="my-3"/>
            <section class="text-center mb-3">
{#                <a href="https://www.facebook.com/evc.group" class="text-white mx-4" target="_blank">#}
{#                    <i class="bi bi-facebook"></i>#}
{#                </a>#}
                <a href="https://twitter.com/evc_group" class="text-white mx-4" target="_blank">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCSPvsWQVDesAHBzzLkZWHGA" class="text-white mx-4"
                   target="_blank">
                    <i class="bi bi-youtube"></i>
                </a>
{#                <a href="https://www.instagram.com/evc.group/" class="text-white mx-4" target="_blank">#}
{#                    <i class="bi bi-instagram"></i>#}
{#                </a>#}
                <a href="https://github.com/mitchburneo" class="text-white mx-4" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </section>
        </div>
        <div class="text-center">
            <p class="barcode_white"><a class="barcode_link" href="https://evc.group" target="_blank">© EVC Group <span
                    class="year"></span></a></p>
        </div>
    </footer>

{% endblock %}
{% block js %}
    <script type="text/javascript">

        $(document).ready(function () {

        });

        $(window).on('load', function () {
            $('#loader').hide();
        });

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                let c_start = document.cookie.indexOf(c_name + "=");
                if (c_start !== -1) {
                    c_start = c_start + c_name.length + 1;
                    let c_end = document.cookie.indexOf(";", c_start);
                    if (c_end === -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }

        $.ajaxSetup({
            headers: {"X-CSRFToken": getCookie('csrftoken')}
        });

        $('.remove-from-cart-inline-btn').on('click', function () {
            let part_id = $(this).data('part-id');
            $.ajax({
                url: "{% url 'cart_remove' %}",
                type: "POST",
                data: {
                    part_id: part_id,
                },
                success: function (result) {
                    {#console.log(JSON.stringify(result))#}
                    $('.table-row').filter(function () {
                        return $(this).data("row-detail-number") === part_id;
                    }).remove();
                    let totalCost = result['total-price'];
                    $('#table-total-cost').text(`${totalCost}`);
                    $('#summary-total-cost').text(`${totalCost}`);

                    if (result['cart-length'] == 0) {
                        $('#cart-length').remove();
                        window.location.reload();
                    } else $('#cart-length').text(result['cart-length']);

                    if (result['cart-length'] > 1) {
                        $('#cart-length-title').text(result['cart-length'] + ' items')
                    } else {
                        $('#cart-length-title').text(result['cart-length'] + ' item')
                    }
                },
                error: function (error) {
                    console.error(JSON.stringify(error));
                },
            });
        });

        function updateQuantity(DOMObject, quantity) {
            let addBtn = DOMObject.parent().parent().parent().find('.remove-from-cart-inline-btn');
            let totalPriceInline = DOMObject.parent().parent().parent().find('.total-price-inline')
            let part_id = addBtn.data('part-id');

            $.ajax({
                url: "{% url 'cart_add' %}",
                type: "POST",
                data: {
                    part_id: part_id,
                    quantity: quantity,
                    update: true,
                },
                success: function (result) {
                    if (result.status === 'error' || $('#cart-length').text() === '') {
                        // TODO Error Toast
                        return;
                    }

                    let totalCost = result['total-price'];
                    let inlineTotalCost = result['inline-total-price'];
                    $('#table-total-cost').text(`${totalCost}`);
                    $('#summary-total-cost').text(`${totalCost}`);
                    totalPriceInline.text(`${inlineTotalCost}`)

                    $('#cart-length').text(result['cart-length']);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (errorThrown != 'abort') {
                        alert('application loading failed!');
                    }
                }
            });

        }

        function isNumber(str) {
            let pattern = /^\d+$/;
            return pattern.test(str);
        }

        $('.order-quantity').on('change', function () {
            let val = $(this).val();

            if (isNumber(val) && val > 0) {
                updateQuantity($(this), parseInt(val));
            } else {
                $(this).val($(this).attr('min'));
            }
        });

        (function () {
            "use strict";
            let jQueryPlugin = (window.jQueryPlugin = function (ident, func) {
                return function (arg) {
                    if (this.length > 1) {
                        this.each(function () {
                            let $this = $(this);

                            if (!$this.data(ident)) {
                                $this.data(ident, func($this, arg));
                            }
                        });

                        return this;
                    } else if (this.length === 1) {
                        if (!this.data(ident)) {
                            this.data(ident, func(this, arg));
                        }

                        return this.data(ident);
                    }
                };
            });
        })();

        (function () {
            "use strict";

            function quantity($root) {
                const element = $root;
                const quantity = $root.first("data-quantity");
                const quantity_target = $root.find("[data-quantity-target]");
                const quantity_minus = $root.find("[data-quantity-minus]");
                const quantity_plus = $root.find("[data-quantity-plus]");

                $(quantity_minus).click(function (e) {
                    e.stopPropagation();
                    let quantity_ = parseInt($(this).parent().find('.quantity-input').attr('step'));
                    let val = parseInt(quantity_target.val());
                    if (val - quantity_ > 0) quantity_target.val(val - quantity_).change();
                });

                $(quantity_plus).click(function (e) {
                    e.stopPropagation();
                    let quantity_ = parseInt($(this).parent().find('.quantity-input').attr('step'));
                    let val = parseInt(quantity_target.val());
                    quantity_target.val(val + quantity_).change();
                });
            }

            $.fn.quantity = jQueryPlugin("quantity", quantity);
            $("[data-quantity]").quantity();
        })();
    </script>
{% endblock %}