@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {

}

p, p > a {
    font-size: .875rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.text-dark {
    font-family: "Gotham Pro Bold";
    font-size: 16px;
    color: rgba(47, 54, 64, 1.0);
    text-align: left;
}

/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
* Utilities
*/

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.evc-logo-capsule {
    margin: 0 0 0 20px;
    box-shadow: none;
}

.evc-logo {

}

.epc-navbar-text {
    font-family: 'Gotham Pro Bold';
    font-size: 24px;
    vertical-align: middle;
    margin: 0 0 0 -4px;
}

.link-navbar-text {
    font-family: 'Gotham Pro Regular';
    font-size: 14px;
    margin: 0;
}

.vr-custom {
    height: 48px;
    width: 2px;
    background-color: #000;
    border-radius: 99px;
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
}

.hr-custom {
    height: 2px;
    width: 83%;
    background-color: rgba(53, 59, 72, 0.6);
    border-radius: 99px;
    /*margin: 0 20px;*/
    /*display: inline-block;*/
    vertical-align: middle;
    display: table;
    margin: 0 auto;
}

.collapse-custom {

}

.nav-item {
    padding: 0 5px;
}

.nav-item-custom {
    margin: 0 0.5em;
}

.nav-item-right-custom {
    margin: 0 0.5em;
}

.breadcrumbs_custom {
    font-family: 'Gotham Pro Regular';
    font-size: 14px;
}

li > a {
    color: #e74c3c;
}

li > a:hover {
    color: #c0392b;
}

.components > a:hover {
    color: #e74c3c;
}

.container {
    max-width: 98%;
    margin-left: 20px;
    margin-right: 20px;
}

.components {
    margin: 0;
}

.component_groups {
    margin: 0;
}

.components > a > p {
    font-family: 'Gotham Pro Regular';
    margin-bottom: 2px;
}

.components > a {
    padding: 0;
}

.component_groups p {
    font-family: 'Gotham Pro Regular';
    margin: 0;
}

/*.component_group {*/
/*    margin: 0;*/
/*}*/


/*--------------------------------------------------------------------------------*/

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

header {
    background: #eee;
    text-align: center;
}

footer {
    /*background: #d63031;*/
    background: #2f3640;
    padding: 1rem;
    text-align: center;
    margin-top: 5em;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 98%;
    /*margin: 2rem auto;*/
}

/* Styling grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-gap: 2rem;
}

.box {
    background: #FFF;
    /*height: 15rem;*/
    min-height: 390px;

    /* center the text */
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    box-shadow: 0 5px 8px 3px rgba(127, 140, 141, 0.25);
    text-align: left;
    overflow: hidden;
    padding-bottom: 2em;
}

.box p {
    display: inherit;
    /*margin: 1em 2em 0;*/
}

.box > p {
    display: inherit;
    margin: 1em 2em 0;
}

.box a {
    text-decoration: none;
    color: #2f3640;
}

.box a:hover {
    text-decoration: none;
    color: #e74c3c;
}

.box img {
    height: 150px;
    /*width: 80%;*/
    /*object-fit: cover;*/
    display: block;
    margin: 16px auto;

    /*transform: scale(0.7, 0.7);*/
    /*-ms-transform: scale(0.7, 0.7);*/
    /*-webkit-transform: scale(0.7, 0.7);*/
}

.component_groups > .row {
    margin: 1em 1em 0;
}

.article {
    /* background: #eee; */
    flex-grow: 999;
    flex-basis: 100px;
}

.sticky {
    background: #FFF;
    /*height: 100%;*/
    /*width: 100%;*/
    flex-grow: 1;
    flex-basis: 16rem;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    order: -1;
    display: flex;
    align-items: start;
    justify-content: center;
    border-left: solid rgba(127, 140, 141, 0.25);
    margin-right: 10px;
    /*max-height: 90vh;*/
    /*max-width: 20vw;*/
}

@media (max-width: 622px) {
    .sticky {
        display: none;
    }

    .evc-logo-capsule {
        margin: 0 0 0 4px;
    }

    .nav-item {
        padding: 0;
    }

    .container {
        max-width: 98%;
        margin: 0 auto;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    float: none;
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIGZpbGw9ImN1cnJlbnRDb2xvciIgY2xhc3M9ImJpIGJpLWNoZXZyb24tcmlnaHQiIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eiIvPg0KPC9zdmc+);
}

/*
FOOTER ==========================================================================
*/

.text-white {
    font-family: 'IBM Plex Sans';
    text-decoration: none;
}

.barcode_link {
    font-size: 12px;
    font-family: 'Gotham Pro Regular';
    font-weight: 200;
    text-decoration: none;
    color: #FFF;
    padding-bottom: 12px;
}

.barcode_link:hover {
    color: #bdc3c7;
}

.barcode_white {
    font-size: 12px;
    /*font-family: 'IBM Plex Mono', monospace;*/
    font-family: 'Gotham Pro Regular', serif;
    font-weight: 200;
    /*font-family: 'Courier Prime', monospace;*/
    /*font-family: 'Libre Barcode 39 Extended Text', cursive;*/
    /*font-family: 'Roboto Slab', serif;*/
    color: #FFF;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.uppercase {
    text-transform: uppercase;
    font-family: "Gotham Pro Bold" !important;
}

#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: #fff;
    z-index: 2099;
}

#loader-image {
    z-index: 2100;
}

.chevron {
    line-height: 1.1;
}

.component-group-capsule {
    padding-left: 6px;
}

.search-results {
    border-radius: 30px;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    font-family: "Gotham Pro Regular";
    color: #2d3436;
    line-height: 1.2;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 8px 3px rgba(127, 140, 141, 0.25);
    max-height: 60vh;
    overflow-y: scroll;
}

.search-result {
    padding: 10px 1em 0;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.search-result a {
    text-decoration: none;
    color: #2d3436;
    display: block;
    width: 100%;
}

.search-result:hover {
    cursor: pointer;
    background: #dfe6e9;
}

.part-code {
    vertical-align: middle;
    font-family: "Gotham Pro Bold";
}

.part-name {
    font-size: 10px;
    vertical-align: middle;
}

.info {
    font-size: 10px;
    background: #e74c3c;
    border-radius: 20px;
    padding: 5px 10px;
    color: #FFF;
    margin-right: 0;
    margin-left: 10px;
    vertical-align: middle;
}

.part-path {
    font-size: 10px;
    background: #ecf0f1;
    border-radius: 40px;
    padding: 5px 10px;
    color: #2d3436;
    margin-right: 0;
    margin-left: 10px;
    vertical-align: middle;
}

.hr-custom {
    height: 1px;
    width: 100%;
    background-color: rgba(189, 195, 199, 0.3);
    border-radius: 99px;
    /*margin: 0 20px;*/
    /*display: inline-block;*/
    vertical-align: middle;
    display: table;
    margin: 14px auto 0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

*::-webkit-scrollbar-track {
    background: #FFF;
}

*::-webkit-scrollbar-thumb {
    background: #FFF;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
