.search-container {
    height: 40px;
    width: 320px;
}

.search-box {
    background: #ecf0f1;
    height: 40px;
    /*line-height: 40px;*/
    border-radius: 40px;
    padding: 10px;
    /*max-width: 228px;*/
    width: 100%;
}

.search-txt {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    /*flex: 2 0 250px;*/
    /*float: left;*/
    padding: 0 6px;
    color: #2d3436;
    font-size: 12px;
    transition: 0.4s;
    line-height: 20px;
    font-family: "Gotham Pro Regular";

}

.fa-search {
    background: #bdc3c7;
    color: #FFF;
    padding: 8px;
    border-radius: 100px;
    margin-top: -5px;
    margin-right: -5px;
    font-size: 14px;
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 991px){
    .search-container {
        width: 300px;
    }
}

@media screen and (max-width: 766px){
    .search-container {
        width: 300px;
    }
}

@media screen and (max-width: 455px){
    .search-container {
        width: 240px;
        margin-left: 16px !important;
    }
}

@media screen and (max-width: 367px){
    .search-container {
        display: none !important;
    }
}

