@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    object-fit: cover;
}

.container {
    max-width: 98%;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 65.1vh;
    /*margin: 0 auto;*/
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
    background-color: #e74c3c;
    border-color: #e74c3c;
}


.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.text-dark {
    font-family: "Gotham Pro Bold";
    font-size: 16px;
    color: rgba(47, 54, 64, 1.0);
    text-align: left;
}


/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*
* Utilities
*/

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.evc-logo-capsule {
    margin: 0 0 0 20px;
    box-shadow: none;
}

.evc-logo {

}

.epc-navbar-text {
    font-family: 'Gotham Pro Bold';
    font-size: 24px;
    vertical-align: middle;
    margin: 0 0 0 -4px;
}

.link-navbar-text {
    font-family: 'Gotham Pro Regular';
    font-size: 14px;
    margin: 0;
}

.vr-custom {
    height: 48px;
    width: 2px;
    background-color: #000;
    border-radius: 99px;
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
}

.hr-custom {
    height: 2px;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 99px;
    /*margin: 0 20px;*/
    /*display: inline-block;*/
    vertical-align: middle;
    display: table;
    margin: 0.5em auto;
}


.collapse-custom {

}

.nav-item {
    padding: 0 5px;
}

.nav-item-custom {
    margin: 0 0.5em;
}

.nav-item-right-custom {
    margin: 0 0.5em;
}

.breadcrumbs_custom {
    font-family: 'Gotham Pro Regular';
    font-size: 14px;
}

.components {
    margin: 0;
}

.component_groups {
    margin: 0;
}

.components > a > p {
    font-family: 'Gotham Pro Regular';
    margin-bottom: 2px;
}

.components > a {
    padding: 0;
}

.component_groups > p {
    font-family: 'Gotham Pro Regular';
    margin: 0;
}


/*--------------------------------------------------------------------------------*/

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

header {
    background: #eee;
    text-align: center;
}

footer {
    /*background: #d63031;*/
    background: #2f3640;
    padding: 1rem;
    text-align: center;
    margin-top: 5em;
}

main {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*gap: 2rem;*/
    /*max-width: 98%;*/
    /*margin: 2rem auto;*/
}

/* Styling grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-gap: 2rem;
}

.box {
    background: #FFF;
    /*height: 15rem;*/
    min-height: 280px;

    /* center the text */
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    box-shadow: 0 5px 8px 3px rgba(127, 140, 141, 0.25);
    text-align: left;
    overflow: hidden;
    padding-bottom: 2em;
}

.grid a {
    text-decoration: none;
}

.box p {
    display: inherit;
    margin: 1em 2em 0;
}

.box a {
    text-decoration: none;
    color: #2f3640;
}

.box a:hover {
    text-decoration: none;
    color: #bd1d79;
}

.box img {
    height: 150px;
    /*width: 80%;*/
    /*object-fit: cover;*/
    display: block;
    margin: 16px auto;

    /*transform: scale(0.7, 0.7);*/
    /*-ms-transform: scale(0.7, 0.7);*/
    /*-webkit-transform: scale(0.7, 0.7);*/
}

.article {
    /* background: #eee; */
    flex-grow: 999;
    flex-basis: 100px;
}

.sticky {
    flex-grow: 1;
    flex-basis: 16rem;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    order: -1;
    /*display: flex;*/
    align-items: start;
    justify-content: center;
}

@media (max-width: 622px) {
    .sticky {
        /*top: 1rem;*/
        top: 0;
    }

    .nav-item {
        padding: 0;
    }

    .container {
        max-width: 98%;
        margin: 0 auto;
    }

    .evc-logo-capsule {
        margin: 0 0 0 4px;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    float: none;
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIGZpbGw9ImN1cnJlbnRDb2xvciIgY2xhc3M9ImJpIGJpLWNoZXZyb24tcmlnaHQiIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eiIvPg0KPC9zdmc+);
}

li > a {
    color: #e74c3c;
}

li > a:hover {
    color: #c0392b;
}

/*
FOOTER ==========================================================================
*/

.text-white {
    font-family: 'IBM Plex Sans';
    text-decoration: none;
}

.barcode_link {
    font-size: 12px;
    font-family: 'Gotham Pro Regular';
    font-weight: 200;
    text-decoration: none;
    color: #FFF;
    padding-bottom: 12px;
}

.barcode_link:hover {
    color: #bdc3c7;
}

.barcode_white {
    font-size: 12px;
    /*font-family: 'IBM Plex Mono', monospace;*/
    font-family: 'Gotham Pro Regular', serif;
    font-weight: 200;
    /*font-family: 'Courier Prime', monospace;*/
    /*font-family: 'Libre Barcode 39 Extended Text', cursive;*/
    /*font-family: 'Roboto Slab', serif;*/
    color: #FFF;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.svg-container {
    max-height: 82vh;
    /*min-height: vh;*/
    /*border-right: solid rgba(127, 140, 141, 0.25);*/
    z-index: 2000;
}

.table-parts {
    font-size: 12px;
    font-family: "Gotham Pro Regular";
    -webkit-text-size-adjust: none;
    /*table-layout: fixed;*/
    /*width: 100%;*/
}

.table-parts > thead {
    border-bottom: solid rgba(84, 91, 92, 0.25);
    vertical-align: middle;
}

@media (max-width: 622px) {
    .table-parts {
        font-size: 8px;
        font-family: 'system-ui';
    }

    .table-parts > thead {
        border-bottom: 2px solid rgba(140, 152, 154, 0.25);
        vertical-align: middle;
    }

    .svg-container {
        max-height: 40vh;
    }
}

@media (max-width: 991px) {
    .sticky {
        top: 0;
    }

    .svg-container {
        max-height: 40vh;
    }
}

.info-circle-overlay {
    fill: none;
    pointer-events: all;

    /*-webkit-transition: all 0.2s ease-out;*/
    /*-moz-transition: all 0.2s ease-out;*/
    /*-o-transition: all 0.2s ease-out;*/
    /*transition: all 0.2s ease-out;*/
}

.info-circle-overlay:hover {
    /*stroke: #007bff;*/
    stroke: #e74c3c;
    stroke-width: 3px;
    cursor: pointer;
}

.selected-circle-overlay {
    /*stroke: #007bff;*/
    stroke: #e74c3c;
    stroke-width: 3px
}

.table-selected-part {
    /*background: #ececec;*/
    background: #dfe6e9;

    /*-webkit-transition: all 0.2s ease-out;*/
    /*-moz-transition: all 0.2s ease-out;*/
    /*-o-transition: all 0.2s ease-out;*/
    /*transition: all 0.2s ease-out;*/
}

#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: #fff;
    z-index: 2099;
}

#loader-image {
    z-index: 2100;
}

.svg_box {
    padding: 0 !important;
    padding-right: 10px !important;
    padding-top: 20px !important;
    background: #FFF;
}

.breadcrumb {
    /*border-bottom: 1px solid rgb(226, 226, 226);*/
    /*border-top: 1px solid rgb(226, 226, 226);*/
    /*display: inline-flex !important;*/
}

.reset-svg {
    font-size: 20px;
    vertical-align: middle
}

.reset-btn {
    position: absolute;
    top: 10px;
    left: 20px;
    line-height: 1;
    background: #ecf0f1;
}

/*.reset-btn:hover {*/
/*    background: #c6cccd;*/
/*}*/

[class^="bi-"]::before, [class*=" bi-"]::before {
    line-height: 1.2;
}

.table-row:hover {
    cursor: pointer;
}

/*.table-row {*/
/*    user-select: none; !* CSS3 (little to no support) *!*/
/*    -ms-user-select: none; !* IE 10+ *!*/
/*    -moz-user-select: none; !* Gecko (Firefox) *!*/
/*    -webkit-user-select: none; !* Webkit (Safari, Chrome) *!*/
/*}*/

.currency-btn {
    min-width: 2em;
    font-size: 12px;
}

.table-setting {

}

.filter-switch label {
    cursor: pointer;
}

.filter-switch-item input:checked + label {
    color: inherit;
}

.filter-switch-item input:not(:checked) + label {
    --bg-opacity: 0;
    box-shadow: none;
}

td a {
    display: block;
    width: 100%;
    height: 100%;
}

.dot {
    height: 18px;
    width: 18px;
    background-color: #e74c3c;
    border-radius: 50%;
    display: inline-block;
    color: #ffffff;
    font-family: "Gotham Pro Regular";
    font-size: 12px;
}

.btn-outline-success:hover {
    color: rgba(39, 174, 96, 1.0);
    background-color: rgba(39, 174, 96, 0.1);
    border-color: rgba(39, 174, 96, 0);
}

.btn-outline-success {
    color: rgba(39, 174, 96, 1.0);
    border-color: rgba(39, 174, 96, 1.0);
}

.toast-container {
    bottom: 20px;
    right: 20px;
    z-index: 3000;
}

.toast-body {
    font-family: "Gotham Pro Regular";
    font-size: 12px;
}

.toast-body > a {
    text-decoration: underline;
    color: #FFF;
}

.toast {

}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    background: #eaeaea;
    border-radius: 10px;
    /*padding: 1rem 0.4rem;*/
    /*margin-top: 4rem;*/
}

.quantity-btn {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0 8px;
    cursor: pointer;
}

.quantity-input {
    outline: none;
    user-select: none;
    text-align: center;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table-part-name {

}

.table-part-code {

}

.table-part-number {

}

.markdown {
    background: #eaeaea;
    border-radius: 10px;
    display: flex;
    padding: 1px 0.8em;
    /*align-items: center;*/
    /*justify-content: space-between;*/
    width: fit-content;
    /*margin: 0 auto;*/

}

.announcement {
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    /*font-family: 'Roboto Slab', serif;*/
    /*font-family: 'Quicksand', sans-serif;*/
    color: #2f3640;
    text-align: center;
}

.barcode {
    margin-top: 36px;
    font-size: 28px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 200;
    /*font-family: 'Courier Prime', monospace;*/
    /*font-family: 'Libre Barcode 39 Extended Text', cursive;*/
    /*font-family: 'Roboto Slab', serif;*/
    color: #2f3640;
}

.vertical-center-custom {
    margin-top: 24vh;
}

/* ====================================================================================== */

.title {
    margin-bottom: 5vh;
}

.card {
    margin: auto;
    max-width: 1200px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

@media (max-width: 991px) {
    .card {
        margin: 3vh auto;
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media (max-width: 991px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    /*background: linear-gradient(45deg, #FF416C, #FF4B2B);*/
    background: #e74c3c;
    color: #FFF;

}

@media (max-width: 991px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}

.summary .col-2 {
    padding: 0;
}

.summary .col-10 {
    padding: 0;
}

.title b {
    font-size: 1.5rem;
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}

.close {
    margin-left: auto;
    font-size: 0.7rem;
}

.back-to-shop {
    margin-top: 4.5rem;
}

h5 {
    margin-top: 0;
}

hr {
    margin-top: 1.25rem;
}

form {
    padding: 2vh 0;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.bi-chevron-left::before {
    vertical-align: middle;
}

.info {
    font-family: "Gotham Pro Bold";
    font-size: 16px;
}


.login-container {
    width: 370px;
    /*height: 400px;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*position: absolute;*/
    background: rgba(45, 52, 54, 0.7);
    /*transform: translate(-50%, -50%);*/
    box-sizing: border-box;
    color: #fff;
    padding: 20px 20px;
    align-content: center;
    font-family: "Gotham Pro Regular";
    /*margin: 30px auto 0;*/
    margin: auto;
}

.login-container img {
    position: absolute;
    left: calc(50% - 50px);
    top: -50px;
}

.login-container h1 {
    text-align: center;
    font-size: 20px;
    font-family: "Gotham Pro Bold";
    margin-bottom: 20px;
}

.login-container label {
    display: block;
}

.login-container div {
    margin-bottom: 20px;
}

.login-container input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    border: none;
    -webkit-border-radius: 0;

    outline: none;
    border-bottom: 1px solid #ffff;
    background: transparent;
    color: #ffff;
    height: 40px;
}

.login-container input[type="submit"] {
    width: 100%;
    border: none;
    border-radius: .25rem;
    outline: none;
    height: 40px;
    background-image: linear-gradient(to right, #F26FC9, #8772EF);
    color: #ffff;
}

.login-container input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #696969;
}

.credentials {
    text-align: left;
    margin: 20px 0 0;
    font-size: 12px;
    color: rgba(255,255,255,0.2);
}

.privacy {
    display: initial;
    text-align: initial;
    text-decoration: none;
    color: #e74c3c;
    font-size: inherit;
}

.form-check-label {
    font-size: 12px;
    vertical-align: middle;
    font-family: "IBM Plex Sans";
}

.form-check {
    line-height: 2;
}
