{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock %}
{% block title %}
    EVC | Parts
{% endblock %}
{% block include_css %}
    <link rel="stylesheet" href="{% static 'epc/css/part_groups.css' %}">
    <link rel="stylesheet" href="{% static 'epc/css/navbar.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <header>
    {% include 'epc/modules/navbar.html' %}
    </header>

    <div class="container">
        <div class="breadcrumbs_custom">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'welcome' %}"
                                                                       class="text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a
                            href="{% url 'components' model=model_spaceless generation=generation %}"
                            class="text-decoration-none">{{ model_breadcrumbs|title }} ({{ generation }})</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ component|title }}</li>
                </ol>
            </nav>
        </div>
        <main>
            <section class="article">
                <div class="grid">
                    {% for part_group in part_groups %}
                        <a href="{% url 'parts' model=model_spaceless generation=generation component=component_full_code part_group=part_group.pk %}">
                            <div class="box" id="{{ part_group.name|cut:" "|cut:"("|cut:")"|cut:"-"|cut:"," }}">
                                <p class="text-dark">{{ part_group.name }}</p>
                                {% for img in svg %}
                                    {% if img.part_group.name == part_group.name %}
                                        <img src="{{ MEDIA_URL }}{{ img.picture }}" class="" alt="...">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
            <ul class="nav flex-column mb-auto sticky">
                {% for part_group in part_groups %}
                    <li class="nav-item">
                        <div class="components">
                            <a href="#{{ part_group.name|cut:" "|cut:"("|cut:")"|cut:"-"|cut:"," }}" class="nav-link link-dark sidebar-link">
                                <p class="component-group">{{ part_group.name }}</p>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </main>
        <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top" style="z-index: 1600; visibility: hidden;">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    <footer class="text-center text-white" style="">
        <div class="container_main">
            <section class="mt-1">
                <div class="row text-center d-flex justify-content-center">
                    <div class="col-md-2 col-3">
                        <h6 class="">
                            <a href="https://evc.group/team/" class="text-white" target="_blank">О нас</a>
                        </h6>
                    </div>
                    <div class="col-md-2 col-3 d-none d-md-block">
                        <h6 class="">
                            <a href="https://evc.group/service/" class="text-white" target="_blank">Сервис</a>
                        </h6>
                    </div>
                    <div class="col-md-2 col-3">
                        <h6 class="">
                            <a href="https://evc.group/shop/" class="text-white" target="_blank">Магазин</a>
                        </h6>
                    </div>
                    <div class="col-md-2 col-3">
                        <h6 class="">
                            <a href="https://evc.group/cars/" class="text-white" target="_blank">Автомобили</a>
                        </h6>
                    </div>
                    <div class="col-md-2 col-3">
                        <h6 class="">
                            <a href="https://evc.group/contacts/" class="text-white" target="_blank">Контакты</a>
                        </h6>
                    </div>
                </div>
            </section>
            <hr class="my-3"/>
            <section class="text-center mb-3">
{#                <a href="https://www.facebook.com/evc.group" class="text-white mx-4" target="_blank">#}
{#                    <i class="bi bi-facebook"></i>#}
{#                </a>#}
                <a href="https://twitter.com/evc_group" class="text-white mx-4" target="_blank">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCSPvsWQVDesAHBzzLkZWHGA" class="text-white mx-4"
                   target="_blank">
                    <i class="bi bi-youtube"></i>
                </a>
{#                <a href="https://www.instagram.com/evc.group/" class="text-white mx-4" target="_blank">#}
{#                    <i class="bi bi-instagram"></i>#}
{#                </a>#}
                <a href="https://github.com/mitchburneo" class="text-white mx-4" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </section>
        </div>
        <div class="text-center">
            <p class="barcode_white"><a class="barcode_link" href="https://evc.group" target="_blank">© EVC Group <span
                    class="year"></span></a></p>
        </div>
    </footer>
{% endblock %}
{% block js %}
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript">

        window.addEventListener("pageshow", function (event) {
            let historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" && window.performance.navigation.type === 2);
            if (historyTraversal) {
                window.location.reload();
            }
        });

        $(document).ready(function () {
            $(".link-dark").click(function () {
                $($(this).attr("href")).effect("highlight", {color: '#ced6e0'}, 1500);
            });
        });
        //Get the button
        let up_btn = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                up_btn.style.display = "block";
            } else {
                up_btn.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        up_btn.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        $('.sidebar-link').click(function () {
            $('.sidebar-link > p').removeClass('uppercase');
            $('p', this).toggleClass('uppercase');
        });
    </script>
{% endblock %}