{% extends 'base.html' %}
{% load static %}
{% block title %}
    EVC | Reset Password
{% endblock %}
{% block include_css %}
    <link rel="stylesheet" href="{% static 'epc/css/login.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="login-container">
            {% if validlink %}
                <form method="POST">
                    {% csrf_token %}
                    <h1>Задайте новый пароль</h1>
                    <div class="form-group">
                        <label for="{{ form.new_password1.id_for_label }}">Пароль</label>
                        {{ form.new_password1 }}
                        {% for error in form.new_password1.errors %}
                            <small id="email-help" class="text-danger">{{ error }}</small>
                        {% endfor %}
                        <small class="text-muted">
{#                            Password can contain only latin letters, digits and special symbols. Password length should#}
{#                            be 8 at least.#}
                            Пароль может содержать только латинские буквы, цифры и специальные символы.
                            Длина пароля должна быть не менее 8 символов.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password2.id_for_label }}">Подтверждение пароля</label>
                        {{ form.new_password2 }}
                        {% for error in form.new_password2.errors %}
                            <small id="email-help" class="text-danger">{{ error }}</small><br>
                        {% empty %}
                            <small class="text-muted">Повторите, пожалуйста, Ваш пароль.</small>
                        {% endfor %}
                    </div>
                    {% for non_field_error in form.non_field_errors %}
                        <p class="text-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    <input type="submit" value="Подтвердить" name="reset_password_btn">
                </form>
                <p class="credentials text-center">Powered by Aftermath Team</p>
            {% else %}
                    <p style="margin: 0">Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.
                        Пожалуйста, запросите новую процедуру сброса пароля.</p>
                    <a href="{% url 'login' %}" class="btn btn-outline-light align-baseline text-center"><i class="bi bi-chevron-left"></i> Back</a>
                    <p class="credentials text-center">Powered by Aftermath Team</p>
            {% endif %}
        </div>
    </div>
{% endblock %}