{% autoescape off %}
Чтобы восстановить доступ к Вашему аккаунту ({{ user.get_username }}) EVC,
перейдите по ссылке:

{{ protocol }}://{{ domain }}{% url 'reset_password_check' hash_b64=hash_b64 token=token %}

Если ссылка не кликабельна, пожалуйста скопируйте и вставьте ее в новое окно браузера.

С уважением,
Команда EVC Group
{#To initiate the password reset process for your {{ user.get_username }} EVC Account,#}
{#click the link below:#}
{##}
{#{{ protocol }}://{{ domain }}{% url 'reset_password_check' hash_b64=hash_b64 token=token %}#}
{##}
{#If clicking the link above doesn't work, please copy and paste the URL in a new browser#}
{#window instead.#}
{% endautoescape %}