{% extends 'base.html' %}
{% load static %}
{% block title %}
    EVC | Restore Success
{% endblock %}
{% block include_css %}
    <link rel="stylesheet" href="{% static 'epc/css/login.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
         <div class="login-container">
             <p>
                 Мы отправили на Ваш e-mail инструкции по сбросу пароля. Вы должны получить их в ближайшее время.
             </p>
             <p>
                 Если вы не получили электронное письмо, убедитесь, что вы ввели адрес электронной почты или имя пользователя,
                 которые вы указали при регистрации, и проверьте папку со спамом.
             </p>
{#                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.#}
{#                You should receive them shortly. </p>#}
{#                <p>If you don't receive an email, please make sure you've entered the address you registered with,#}
{#                and check your spam folder.</p>#}
                <a href="{% url 'login' %}" class="btn btn-outline-light align-baseline text-center">
                    <i class="bi bi-chevron-left"></i> Вход
                </a>
                <p class="credentials text-center">Powered by Aftermath Team</p>
         </div>
    </div>
{% endblock %}