{% extends 'base.html' %}
{% load static %}
{% block title %}
    EVC | Restore Password
{% endblock %}
{% block include_css %}
    <link rel="stylesheet" href="{% static 'epc/css/login.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="login-container">
            <form method="POST" name="restore_password_form">

                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Введите E-Mail или имя пользователя</label>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                        <small id="email-help" class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>

                <input type="submit" name="restore_password_btn" value="Восстановить">

            </form>
            <p class="credentials text-center">Powered by Aftermath Team</p>
        </div>
    </div>
{% endblock %}